#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk

binary-install/redmine::
	# Clean up the "extra" license files with typos :)
	find debian/redmine/usr/share/redmine -name "*LICEN*E*" -exec rm -f '{}' \;
	rm debian/redmine/usr/share/redmine/lib/SVG/GPL.txt
	# ...and other various files
	find debian/redmine -name '.gitignore' -type f | xargs rm -f

	# remove htacccess example file : complete examples are given in /usr/share/doc/redmine/examples
	rm -f debian/redmine/usr/share/redmine/public/htaccess.fcgi.example

	# running redmine as cgi is too slow
	rm -f debian/redmine/usr/share/redmine/public/dispatch.cgi.example

	# rename cgi script, check permissions
	mv debian/redmine/usr/share/redmine/public/dispatch.fcgi.example debian/redmine/usr/share/redmine/public/dispatch.fcgi

	# remove example config files
	rm -f debian/redmine/usr/share/redmine/config/database.yml.example

	# replace config/email.yml by /etc/redmine/<instance>/email.yml in all locales (Closes: #590846)
	sed -i -e 's/config\/configuration\.yml/\/etc\/redmine\/\&lt\;instance\&gt\;\/configuration\.yml/g' debian/redmine/usr/share/redmine/config/locales/*.yml 

	# Mark scripts as executable until upstream fixes their .tar.gz archive build
	chmod a+x debian/redmine/usr/share/redmine/Rakefile
	chmod a+x debian/redmine/usr/share/redmine/extra/mail_handler/rdm-mailhandler.rb
